.agendasforclassroom-button {
  color: #2979FF;
  position: absolute;
  top: 81px;
  right: 125px;
}

.agendasforclassroom-modal-showing {
  pointer-events: none;
  overflow: hidden;
}

.agendasforclassroom-modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
}

.agendasforclassroom-modal {
  background-color: white;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 301;
}

.agendasforclassroom-modal iframe {
  margin: 0;
  border: none;
  height: 400px;
  width: 300px;
}

.agendasforclassroom-modal-showing .tdS5P,
.agendasforclassroom-modal-showing .JPdR6b,
.agendasforclassroom-modal-showing #google-feedback-wizard,
.agendasforclassroom-modal-showing .agendasforclassroom-modal {
  pointer-events: all;
}

.agendasforclassroom-close {
  position: absolute;
  top: 12px;
  right: 16px;
  background-color: rgba(255, 255, 255, 0);
  font-family: system-ui;
}

.agendasforclassroom-close:hover,
.agendasforclassroom-close:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.n4xnA {
  position: relative;
}
